.App {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #bebebe;
}
.App .header{
  padding: 10px 5px;
  display: flex;
}
.App input {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #4d4d4d;
  border-bottom: 1px solid #bebebe;
  padding-left: 10px;
  width: 100%;
  border: none;
}
.App input:hover, .App input:focus{
  outline: none;
}
.App input::placeholder {
  color: gray;
  opacity: .2;
}